.container{
    margin-left: 5%;
    margin-right: 10%;
    justify-content: space-evenly;
}
h1{
    background-color:lightgray;
    margin-right: 60%;
}

h2{
    
    margin-left: 0px;
    margin-bottom: 50%;

}
input{
    
    border-color:black;
    width: 500px;
    height: 30px;

}
.btn{
    background-color: grey;
    margin-left: 0px;
    margin-top: 15px;
    width: 250px;
    height: 40px;
    border-radius: 50px;
}

/*For display.css
=====================================

.fix{
    margin-left: 60%;
    margin-top: -23%;
}

.heading{
   
    display: flex;
    width: 500px;
    height: 30px;
    margin-left: 60%;
}

.transaction-item{
    display: flex;
    background-color:grey;
    color: black;
    width: 500px;
    height: 40px;
    margin-top: -23%;
    margin-left: 60%;*/