.fix{
    margin-left: 60%;
    margin-top: -23%;
}

.heading{
   
    display: flex;
    width: 500px;
    height: 30px;
    margin-left: 60%;
}

.transaction-item{
    display: flex;
    background-color:grey;
    color: black;
    width: 500px;
    height: 40px;
    margin-top: -23%;
    margin-left: 60%;
}